*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    background: lightcoral;
}

.memory-game{
    height: 95%;
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: calc(3.333% - 10px);
    width: calc(25% - 10px);

    margin: 5px;

    position: relative;
    transform: scale(1);

    box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
    cursor: pointer;

}

.card-back{
    width: 250px;
    height: 150px;
}

.card-front{
    width: 250px;
    height: 150px;
}

.card-front,
.card-back {

    padding: 20px;
    position: absolute;

    border-radius: 5px;
    background: coral;
}